<li class="nav-item"
    [ngClass]="{'dropdown': hasChildren(item)}"
    (mouseenter)="onHover($event)"
    (mouseleave)="onBlur($event)">
    <a routerLink="{{currentRoute}}"
       appDropdownToggle
       [childrenqQantity]="item.children.length"
       [ngClass]="parentRoute ? 'dropdown-item' : 'nav-link'">
       <i class="bi" [ngClass]="item.icon"></i>
        {{item.title}}
    </a>
    <app-nested-menu *ngIf="item.children.length" [menuItems]="item.children" [parentRoute]="currentRoute"></app-nested-menu>
</li>