@media (hover: none) {
    :host ::ng-deep .dropdown-menu {
        border: none;
    }
  }

@media (min-width: 992px) {
    :host ::ng-deep .dropdown-menu .dropdown-menu {
        border: none;
    }
}

.nav-link:hover {
    transition: var(--transition);
}
